<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogSpot</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <div class="tittle">
                <form action="/postblog" method="get">
                    <input type="submit" value="+ POST" class="posticon">
                </form>
            <h1>BlogSpot</h1>
        </div>
        <next>
            <div class="content">
                <%if(locals.blogs){ %>
                   <%for(var i=0;i<blogs.length;i++){ %>
                        <div class="boxes" id="index<%= i %>">
                            <h3><a class="link" href="/viewblog?index=<%= i %>"><%= blogs[i][0] %></a></h3>
                            <hr>
                            <div class="boxcontent">
                                <% const haha = blogs[i][1].slice(0,200) %>
                                <% if(blogs[i][1].length > 180){ %>
                                    <p><%= haha %> ....</p>
                                <%} else{ %>
                                    <%= haha %>
                                <%} %>
                            </div>
                            <div class="options">
                                <h3>
                                    <a href="/edit?editindex=<%= i %>" class="symbol">🖊</a>
                                    <a href="/deletee?editindex=<%= i %>" class="symbol" >🗑</a>          
                                </h3>
                            </div>
                        </div> 
                   <%} %>
                <% } %>
            </div>
        </next>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/main.js"></script>
    </main>
</body>
</html> 